@{
    ViewBag.Title = "Om VM-tipset";
}
<div class="jumbotron">
    <h2>Ett VM-tips gör alltid ett VM lite mer spännande!</h2>
</div>
<div>
    <p>
        Tippa resultat för samtliga gruppspelsmatcher, gissa de två finallagen samt vinnaren av finalen.
        Ett poäng per rätt resultat ger 51 poäng som max. (48 matcher, 2 finallag och 1 vinnare.) Den/de
        som får flest rätt tar hem hela prissumman, inga pengar till tvåorna.
    </p>
    <p>
        Det kostar 50 kr att vara med. Raden lämnas in genom denna webbsida, betala via Swish
        till telefonnummer xxxx-xxxxxx. Raden kan också lämnas in i pappersform på någon av restaurangerna.
        De inlämnade raderna i pappersform kommer skrivas in och synas på denna sida.
    </p>
    <p>
        Har du några frågor så gå in under fliken "Ge en kommentar" eller skicka ett mail direkt
        till vmtips2018@gmail.com.
    </p>
</div>